html {
  font-size: 16px;
  color: #737272;
  font-family: Helvetica;
}

/* header */

.header {
  width: 100%;
  height: 64px;
  display: inline-flex;
}

.headerlogo {
  display: inline-flex;
  margin: 0;
  padding-left: 24px;
  flex-grow: 10;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

span {
  font-weight: bold;
  color: #3F3E3E;
}

.navbar {
  color: #3F3E3E;
  font-size: 1.5rem;
  margin: 0;
  padding-right: 24px;
  display: inline-flex;
  align-items: center;
}
.navbox {
  padding-left: 16px;
}

/* banner */

.bannerbox {
  width: 100%;
  background-color: #D1CFCF;
  display: inline-flex;;
  align-items: center;
  flex-wrap: wrap;
  color: #3F3E3E;
}

.bannerimage {
  margin: 32px 24px;
  width: 60%;
}

.banner2 {
  width: 35%;
  height: auto;
}

.bannerimage img {
  width: 100%;
  height: auto;
}

.bannerdescription h1 {
  font-size: 4rem;
  font-weight: bold;
}

.bannerdescription h2{
  font-size: 2rem;
}

.bannerbutton {
  background-color: #3F3E3E;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.5rem;
  text-align: center;
}

.bannerbutton a {
  color: #FFF;
}




/* footer */

footer {
  width: 100%;
  display: inline-flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.footerbox {
  margin: 0;
  padding-left: 24px;
  flex-grow: 10;
}

.footerlinks a {
  color: #737272;
  padding-right: 24px;
}
