html {
  font-size: 16px;
  color: #737272;
  font-family: Helvetica;
}

h3 {
  font-size: 2rem;
  color: #3F3E3E;
  font-weight: bold;
}

h1 {
  font-size: 4.5rem;
  font-weight: bold;
  color: #3F3E3E;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  color: #3F3E3E;
}

h4 {
  font-size: 1.5rem;
}

/* header */

.header {
  width: 100%;
  height: 64px;
  display: inline-flex;
}

.headerlogo {
  display: inline-flex;
  margin: 0;
  padding-left: 24px;
  flex-grow: 10;
  align-items: center;
}

span {
  color: #737272;
  font-weight: normal;
}

.bold {
  font-weight: bold;
  color: #3F3E3E;
}

.navbar {
  color: #3F3E3E;
  font-size: 1.5rem;
  margin: 0;
  padding-right: 24px;
  display: inline-flex;
  align-items: center;
}
.navbox {
  padding-left: 16px;
}

/* banner */

.bannerbox {
  width: 100%;
  background-color: #D1CFCF;
  display: inline-flex;;
  align-items: center;
  flex-wrap: wrap;
  color: #3F3E3E;
}

.bannerimage {
  margin: 32px 24px;
  width: 60%;
}

.banner2 {
  width: 35%;
  height: auto;
}

.bannerimage img {
  width: 100%;
  height: auto;
}

.bannerbutton {
  background-color: #3F3E3E;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.5rem;
  text-align: center;
}

.bannerbutton a {
  color: #FFF;
}

/* main section */

.mainsection {
  width: 100%;
  display: inline-flex;
}

.main1 {
  width: 60%;
  height: auto;
  margin: 0;
  padding: 32px 24px;
}

.mainbox {
  width: 100%;
}

.maintitle {
  margin: 0;
  padding-top: 32px;
}

.maintitle h2{
    padding-bottom: 24px;
}

.mainbottom {
  color: #3F3E3E;
}

.mainimage img {
  width: 100%;
  height: auto;
}

.abox {
display: inline-flex;
padding-bottom: 5px;
}

.bbox {
  display: inline-flex;
  background-color: #D1CFCF;
}

.aboximage {
  padding: 16px;
  width: 35%;
}

.aboximage img {
  width: 100%;
  height: auto;
}

.main2 {
  width: 35%;
}

.aboxdescription {
  width: 55%;
  align-self: center;
}

.aboxdescription a {
  color: #3B72D7;
  font-size: 1.5rem;
}

/* learning box */

.learning {
  width: 100%;
  background-color: #D1CFCF;
  padding: 32px 72px;
}

.learning h2 {
  text-align: center;
  padding-bottom: 32px;
}

.lessonbox {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}

.box1image img {
  height: auto;
  width: 100%;
}

.box1 {
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  width: 30%;
  background-color: #FFF;
}

.box1description {
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 24px;
}

.learning h4 {
  color: #737272;
  padding-top: 8px;
}

/* exhibits box */

.exhibit {
  width: 100%;
  padding-bottom: 32px;
}

.exhibittitle {
  width: 100%;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.exhibitcontent {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 24px;
}

.ex1 {
  width: 60%;
  padding-right: 24px;
}

.ex1content {
  padding-top: 24px;
}

.ex1content h3 {
  padding-bottom: 8px;
}

.fismaimage {
  padding: 16px;
  width: 35%;
}

.fismaimage img {
  width: 100%;
  height: auto;
}

.nowpic {
  padding: 16px;
  width: 35%;
}

.nowpic img {
  width: 100%;
  height: auto;
}

.ex2box1 {
  background-color: #D1CFCF;
  display: inline-flex;
}

.fismacontent {
  width: 55%;
  align-self: center;
}

.ex2 {
  width: 35%;
}

.ex2box2 {
  display: inline-flex;
}

.nowdescription {
  width: 55%;
  align-self: center;
}

/* footer */

footer {
  width: 100%;
  display: inline-flex;
  margin-top: 16px;
  margin-bottom: 16px;
}

.footerbox {
  margin: 0;
  padding-left: 24px;
  flex-grow: 10;
}

.footerlinks a {
  color: #737272;
  padding-right: 24px;
}

@media only screen and (min-width: 1061px) {
  .learningmob , .mainmob , .mobilenav {
    display: none;
  }
}

/* mobile screen */

@media only screen and (max-width: 1060px) {

  .header , .mainsection , .ex1content , .ex2 , .learning , .footerlinks {
    display: none;
  }

  .mobilenav {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .banner2 {
    width: 100%;
    margin: 16px 32px 16px 32px;
  }

  .bannerimage {
    width: 100%;
    margin: 0;
  }

  .mainmob {
    width: 100%;
  }

  .mimage {
    padding: 16px;
  }

  .mimage img {
    width: 100%;
    height: auto;
  }

  .mdescription {
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 64px;
  }

  .learningmob a {
    font-size: 2rem;
    color: #3F3E3E;
    font-weight: bold;
    padding-left: 16px;
  }

  .learningmob {
    width: 100%;
    padding-bottom: 32px;
  }

  .ltitle {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .lbox {
    background-color: #D1CFCF;
    margin-top: 8px;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .exhibit h2 {
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
  }

  .ex1 {
    width: 100%;
    padding: 0;
  }

  .exhibitcontent {
    padding-left: 0;
  }

  footer {
    padding-top: 24px;
  }

}
